<!-- footer.component.html -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Contact Us</h4>
          <p>Email: info@lawfirm.com</p>
          <p>Phone: 123-456-7890</p>
          <!-- Add more contact information as needed -->
        </div>
        <div class="col-md-6">
          <h4>Follow Us</h4>
          <!-- Add social media links here -->
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">LinkedIn</a>
        </div>
      </div>
      <hr>
      <p class="text-center">© 2024 Law Firm. All rights reserved.</p>
    </div>
  </footer>
  